@media screen and (min-width: 800px) {
  body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url('pattern-background-desktop.svg');
  color: hsl(224, 23%, 55%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: contain;
}


a:hover {
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
}


button {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  border: none;
}


button:hover {
  opacity: 0.6;
  cursor: pointer;
}


.cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}
}
