@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display';
} 

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url('pattern-background-mobile.svg');
  color: hsl(224, 23%, 55%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: contain;
}


.Card {
  background-color: whitesmoke;
  width: 320px;
  height: 540px;
  border-radius: 15px;
  box-shadow: 20px 25px 20px hsl(224, 23%, 55%);
}


img.banner {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


h1 {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 20px;
}


p {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  color: hsl(224, 23%, 55%);
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}


.order-info {
  width: 280px;
  height: 80px;
  background-color: hsl(225, 100%, 98% );
  border-radius: 10px;
  margin: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}


.sub {
  font-size: 0.9rem;
  font-weight:700;
  color: hsl(223, 47%, 23%)
}


.price {
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}


div {
  margin-bottom: 1rem;
}


a {
  margin-left: 2.4rem;
  font-size: 0.9rem;
  font-weight: 700;
  color:  hsl(245, 75%, 52%);
}


button {
  width: 270px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow:  0px 20px 20px hsl(225, 100%, 94%);
}


.cancel {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1.5rem;
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
  font-weight: 700;
}
